#stats {
    z-index: 10;
}

canvas {
    position: relative;
    z-index: 1;
}

.dialog {
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: white;
    border-radius: 8px;
    width: 304px;
    height: 222px;

    padding: 8px;

    z-index: 5;
}

.dialog-body {
    overflow: auto;
}
